@use "variables";

body{
    color: variables.$color-primary;
}

//section{
//   background-color: red;
//}

//section div{
//    color: green;
//}

//section div span{
//    font-weight: bold;
//}

section{
    background-color: red;
    div{
        color:green;

    span{
        font-weight: bold;
        }
    }
}

@mixin textBox($backgoundColor){
    background-color: $backgoundColor;
    border: 2px solid black;
    color: #ffffff;    
}

.info{
    @include textBox(darkblue);
}

.danger{
    @include textBox(darkred);
}

.warning{
    @include textBox(yellow);
}

%