@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body{
  font-family: 'Open Sans', sans-serif;
  background-color: black;
}
header {
  background-color: #20B2AA;
  display: flex;
  align-items: center;
  position: fixed;
  padding: 0 50px;
  top: 0;
  left: 0px;
  right: 0px;
  height: 90px;
  box-shadow: 0 0 40px #20b2aa;
}
.banner{
  background-image: linear-gradient(to bottom,rgb(0,0,0) 0%,rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.9) 100000%), url('imagens/banner.jpg');
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index:-1;
}
.home-page, .about-page{
  display: inline-block;
  text-align: center;
  height: 90px;
  width: 70px;
}
.products-page, .services-page{
  display: inline-block;
  text-align: center;
  height: 90px;
  width: 90px;
}
.contact-page {
  display: inline-block;
  text-align: center;
  height: 90px;
  width: 110px;
}
.home-page a, .about-page a, .products-page a, .services-page a, .contact-page a{
  margin-top: 34px;
  margin-bottom: auto;
}
.pages {
  width: auto;
  font-weight: 450;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 100px;
}
.pages a{
  color: inherit;
  text-decoration: none;
  display: inline-block;
}
.pages a:hover{
  color: white;
}
footer{
  background-color: black;
  color: #fff;
  width: 100%;
}
.follow-foot{
  vertical-align: top;
  display: inline-block;
  width: 300px;
  height: 20px;
  margin-left: 1100px;
  text-align: right;
  font-weight: 500;
}
.ico-social{
  display: inline-block;
  margin: 0 0 0 10px;
  height: 30px;
  width: 30px;
}
.ico-social a{
  display: inline-block;
  width: 30px;
  vertical-align: top;
  margin: 0 0 30px;
  fill: #fff;
}
.ico-social:hover{
  transform: matrix3d(1.2,-0.26,0.00,0,0.26,1.164,0.00,0,0,0,1,0,0,0,0,1);
  transform-origin: center center 0px; 
  transition: all 0.5s ease 0s;
  -webkit-transform-origin: center center 0px; 
  -webkit-transition: all 0.5s ease 0s;  
}
.line-foot{
  opacity: 30%;
  margin: 100px 110px 0 100px;
  width: auto;
  height: 1px;
  background-color: white;
}
.copy{
  margin-top: 50px;
  font-weight:lighter;
  text-align: center;
}
#about{
  background-color: white;
  margin: 150px;
  border-radius: 50px;
}
.image-about{
  display: inline-block;
  width: 350px;
  height: auto;
  margin: 25px 20px;
  border-radius: 50px;
}
.desc-about{
  display: inline-block;
  margin: 50px 0 0 30px;
  width: 700px;
  vertical-align: top;
}
.desc-about h1{
  color: #382c32;
  font-size: 40px;
}
.desc-about p{
  color: #382c32;
  font-size: 16px;
  font-weight: lighter;
  line-height: 25px;
}